/* Hedder section */
*{
    margin-top: 0px;
    font-family:Trebuchet MS;
}
#topmargin{
    margin-top: 25px;
}
#topcolor{
    background-color:  #001d3d;
    height: 20px;
    width: 100vw;
    position: fixed;
    top: 0px;
}
header{
    height: 30px;
    width: 1108.17;
    position: sticky;
    top: 8px;
    left: 4px;
    right: 4px;
    width:1108.17;
}
.navbar{
    background-color: #000814;
    height: 50px;
    border-radius: 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.headbutton{
    height: 25px;
    width: 75px;
    background-color: #ffd60a;
    border-radius: 12px;
    text-align: center;
    border: 2px solid transparent;
    transition: border 0.1s ease-in-out 0s;
    transition: transform 0.2 ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}
.headbutton:hover{
    border: 2.25px solid white;
    color: white;
    background-color: rgba(255, 255, 255, 0.300);
}
.headbutton:active {
    transform: scale(1.1);
}
.headlink{
    color: black;
}
#lineheader{
    height: 20px;
    width: 1px;
    background-color: white;
}

/* Footer section */
footer{
    background-color: #000814;
    height: 122px;
    border-radius: 10px;
    padding: 15px;
    padding-left: 10px;
}
#footertop{
    height: 76px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#linefooter{
    height: 70px;
    width: 1px;
    background-color: white;
}
.f-heading{
    height: 22px;
    width: 115px;
    margin:15px;
    margin-left: 0px;
    margin-top: 0px;
    padding: 5px;
    color: white;
    text-align: left;
    font-weight: 600;
    border-radius: 5px;
}
.ftopitem{
    height: 22px;
    width: 115px;
    margin: 10px;
    margin-left: 0px;
    padding: 5px;
    text-align: center;
    font-weight: 200;
    font-size: 14px;
    color: white;
    border: 2px solid transparent;
    border-radius: 8px;
    transition: border,background-color 0.1s ease-in-out 0s;
    transition: transform 0.2 ease-in-out;
}
.ftopitem:hover{
    border: 2px solid white;
    background-color: rgba(255, 255, 255, 0.300);
}
.ftopitem:active{
    transform: scale(1.1);
}
#footerbotom{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
}
.fbotitem{
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: 12px;
    color: white;
}


/* Body section */
body{
    background-color: #001d3d;
    color: white;
}
#nameprofile{
    background-color: #003566;
    border-radius: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-image: url(images/blue-bg.png); */
    background-size: cover;
}
#profilepic{
    height: 200px;
    width: 200px;
    margin:10px;
    border: 1px solid #ffd60a;
    background-color: #ffd60a;
    border-radius: 50%;
}
#profileimg{
    height: 200px;
    width: 200px;
}
#textbox{
    
    background-color: #ffffff11;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
}
#sec1index{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#handshake{
    font-size: 35px;
    margin: 5px;
}
#sec2index{
    text-align: center;
    margin: 20px;
}
#sec2buttons{
    display: flex;
    justify-content: center;
}
.sec2b{
    height: 25px;
    width: 100px;
    margin: 5px;
    background-color: #003566;
    /* background-image: url(images/blue-bg.png); */
    background-size: cover;
    border-radius: 15px;
    border: 2px solid transparent;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: border 0.1s ease-in-out 0s;
    transition: transform 0.2 ease-in-out;
}
.sec2b:hover{
    border: 2px solid white;
    background-color: #003566;
    opacity: 80%;
}
.sec2b:active{
    transform: scale(1.1);
}
.sec2item{
    color: white;
}
.secitem{
    height: 100px;
    width: 200px;
    background-color: #003566;
    border: 3px solid transparent;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-image: url(images/blue-bg.png); */
    background-size: cover;
    transition: all 0.1s ease-in-out 0s;
    transition: transform 0.2s ease-in-out;
}
.secitem:hover{
    border: 3px solid white;
    background-color: #003566;
    background-image: none;
    opacity: 80%;
}
.secitem:active{
    transform: scale(0.9);
}
.secitemtext{
    font-size: 32px;
    color: white;
    
}
h1{
    color: #ffd60a;
}
h2{
    color: #ffd60a;
    font-size: 20px;
    line-height: 12px;
}
h4{
    line-height: 12px;
    margin-bottom: 10px;
}
#mohitrana{
    height: 30px;
    font-size: 28px;
    color: white;
    margin: 0px;
}
#itstd{
    color: white;
    font-size: 16px;
    line-height: 15px;
    margin: 0px;
}
table{
    background-color: #003566;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    padding: 10px;
    width: 100%;
}
p{
    margin: 0px;
}
a{
    text-decoration: none;
}
u{
    text-decoration: none;
}
th{
    font-size: 16px;
    font-weight: 600;
    width: 220px;
    text-align: left;
    color: #ffd60a;
}
td{
    font-size: 14px;
    font-weight: 500;
}
#submit{
    height: 30px;
    width: 90px;
    background-color: #003566;
    font-weight: bold;
    color: white;
    border: 2px solid white;
    border-radius: 6px;
    font-size: 14px;
    transition: background-color,color,border 0.1s ease-in-out 0s;
    transition: transform 0.1s ease-in-out;
}
#submit:hover{
    background-color: white;
    color: #003566;
    border: 2px solid white;
    opacity: 80%;
}
#submit:active{
    transform: scale(0.9);
}
#resume{
    margin: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
}
#down-resume{
    height: 40px;
    width: 150px;
    background-color: #003566;
    border: 2px solid white;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    transition: border,background-color 0.1s ease-in-out 0s;
    transition: transform 0.1s ease-in-out;
}
#down-resume:hover{
    border: 2px solid white;
    background-color: #003566;
    opacity: 80%;
}
#down-resume:active{
    transform: scale(0.9);
}
#resume-text{
    color: white;
    font-weight: bold;
    font-size: small;
}

.project_sec{
    display: flex;
    justify-content: space-evenly;
}
.por_textbox{
    height: auto;
    width: 500px;
}
.project_img{
    height: 40%;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}
.project_img img{
    height: 20em;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    object-position: top;
    border: 2px solid rgba(255, 255, 255, 0.75);
}
.pro-btn{
    height: 40px;
    width: 150px;
    background-color: #003566;
    border: 2px solid white;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    transition: border,background-color 0.1s ease-in-out 0s;
    transition: transform 0.1s ease-in-out;
}
.pro-btn:hover{
    border: 2px solid white;
    background-color: #003566;
    opacity: 80%;
}
.pro-btn:active{
    transform: scale(0.9);
}
#pro1btns{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pro-txt{
    color: white;
    font-weight: bold;
}
@keyframes scroll{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-250px * 6));
    }
}
.skilltext{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.skilltext #textbox{
    background-color: #E6E6FA;
    color: #001d3d;
}
.skilltext h2{
    color: #000814;
}
.slider{
    background-color: rgba(255, 255, 255, 0.253);
    height: 50px;
    width: auto;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
}
.slide-track{
    border-radius: 10px;
    height: 50px;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    animation: scroll 30s linear infinite;
    width: calc(250px * 11);
}
.slide{
    width: 250px;
    margin-left: 20px;
    margin-right: 20px;
    
}
.slide img {
    height: 35px;
}
@media screen and (max-width: 500px) {
    .navbar{
        height: 42px;
    }
    .headbutton{
        height: 20px;
    }
    p{
        font-size: 12px;
    }
    h1{
        font-size: 20px;
    }
    h2{
        font-size: 16px;
    }
    h4{
        font: size 10px;
    }
    u{
        font-size: 14px;
    }
    th{
        font-size: 10px;
        font-weight: 700;
    }
    td{
        font-size: 8px;
    }
    li{
        font-size: 12px;
    }
    .f-heading{
        height: 22px;
        width: 100px;
        margin:0px;
        margin-left: 0px;
        margin-top: 0px;
        padding: 5px;
        text-align: center;
        font-weight: 600;
        font-size: 14px;
        border-radius: 5px;
    }
    footer{
        height: 321.5px;
        border-radius: 10px;
        padding: 15px;
        padding-left: 10px;
    }
    #footertop{
        height: 280px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #linefooter{
        height: 0px;
        width: 0px;
    }
    .contact{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .social{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .Address{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .ftopitem{
        height: 15px;
        width: 120px;
        margin: 0px;
        margin-left: 0px;
        padding: 5px;
        text-align:center;
        font-weight: 200;
        font-size: 10px;
        border-radius: 5px;
    }
    .fbotitem{
        margin-top: 5px;
        margin-bottom: 0px;
        font-size: 8px;
    }
    #resume{
        margin: 20px;
       display: flex;
       flex-direction: column;
       justify-content: space-evenly;
       align-items: center;
    }
    #resumeimg{
        height: 400px;
    }
    #profilepic{
        height: 100px;
        width: 100px;
        margin:5px;
        border-radius: 50%;
    }
    #profileimg{
        height: 100px;
        width: 100px;
    }
    #mohitrana{
        height: 20px;
        font-size: 18px;
        margin: 0px;
    }
    #itstd{
        font-size: 12px;
        line-height: 15px;
        margin: 0px;
    }
    #sec1index{
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .secitem{
        height: 40px;
        width: 60vw;
        border-radius: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px;
    }
    .por_textbox{
        height: auto;
        width: auto;
    }
    .project_sec{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .project_img img{
        height: 12em;
    }
    .pro-btn{
        height: 30px;
        width: 100px;
    }
    .secitemtext{
        font-size: 18px;
    }
    @keyframes scroll{
        0%{
            transform: translateX(0);
        }
        100%{
            transform: translateX(calc(-200px * 6));
        }
    }
    .slider{
        background-color: rgba(255, 255, 255, 0.253);
        height: 45px;
        width: auto;
        display: flex;
        align-items: center;
        overflow: hidden;
        position: relative;
    }
    .slide-track{
        border-radius: 10px;
        height: 45px;
        width: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        animation: scroll 20s linear infinite;
        width: calc(200px * 11);
    }
    .slide{
        width: 75px;
    }
    .slide img {
        height: 25px;
    }
    .skilltext{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
}
